In [1]:
f=['data','science',1,2,3,4,5,6,True,False,[1,2,3,45]]

In [3]:
import sys
sys.getsizeof(f)

160

In [19]:
f=['data','science',1,2,3,4,5,'True']

In [20]:
f

['data', 'science', 1, 2, 3, 4, 5, 'True']

In [21]:
f[-1][2]

'u'

In [22]:
f[1:2]

['science']

In [23]:
string='data science'

In [24]:
string.split()

['data', 'science']

In [25]:
for x in range(len(string)):
    print(string[x], x)

d 0
a 1
t 2
a 3
  4
s 5
c 6
i 7
e 8
n 9
c 10
e 11

In [27]:
data = string.split()

In [28]:
f.append('dd')

In [29]:
f

['data', 'science', 1, 2, 3, 4, 5, 'True', 'dd', 'dd']

In [30]:
f.insert(3,'teacher')

In [31]:
f.remove(1) # remove element

In [32]:
f

['data', 'science', 'teacher', 2, 3, 4, 5, 'True', 'dd', 'dd']

In [33]:
f.pop(-2)

'dd'

In [34]:
f

['data', 'science', 'teacher', 2, 3, 4, 5, 'True', 'dd']

In [35]:
del f[8]

In [36]:
f

['data', 'science', 'teacher', 2, 3, 4, 5, 'True']

In [37]:
f1 = [1,2,7,8,10,1,3,7]

In [38]:
f1.sort()

In [39]:
f1.reverse()

In [40]:
f1.count(1)

2

In [42]:
l3 = [1,2,7,8,10,1,3,7]

In [43]:
total = 0
for x in l3:
    total+=x
    print(total)
#print(total)

1
3
10
18
28
29
32
39

In [44]:
list1 = []

n = int(input())

for i in range(n):
    new_element = input()
    list1.append(new_element)
    print(list1)

3
3
['3']
3
['3', '3']
3
['3', '3', '3']

In [45]:
tup1 = ('data science',)

In [48]:
s1 = {1,2,3,454,5}
s2 = {'ai','data science'}

In [49]:
s1

{1, 2, 3, 5, 454}

In [50]:
s2

{'ai', 'data science'}

In [51]:
s1 = {1,2,3,4,5,4,5,4,5,1,1,1}

In [52]:
#intersection
s1.intersection(s2)

set()

In [54]:
dic = {
    'name': 'ashed',
    'varsity': 'DIU',
    'year': 2022
}

In [55]:
dic.keys()

dict_keys(['name', 'varsity', 'year'])

In [56]:
dic.values()

dict_values(['ashed', 'DIU', 2022])

In [57]:
dic.popitem()

('year', 2022)

In [58]:
import pandas as pd

In [59]:
li = ['data','science','ai']

In [60]:
df = pd.DataFrame(li)

In [61]:
df

         0
0     data
1  science
2       ai

In [77]:
df = pd.DataFrame(li, columns=['dept'])

In [78]:
df

      dept
0     data
1  science
2       ai

In [79]:
df1 = pd.DataFrame(li)
df2 = pd.DataFrame(li)

In [80]:
df=pd.concat([df1,df2],axis=1)

In [81]:
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [82]:
df.drop([0,1], inplace=True)

In [83]:
df

    0   0
2  ai  ai

In [ ]:
df.drop([1], axis=1, inplace=True)

In [86]:
df

Empty DataFrame
Columns: []
Index: [2]